<!doctype html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap５.3.0 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <title>roomTypeRegister</title>
</head>
<body>

<!-- nav bar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark px-3 sticky-top">
    <a class="navbar-brand" th:href="@{/toReservationSearch}">Prototype1</a>

    <!-- reservation menu -->
    <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#reservationmenu" aria-controls="reservationmenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="reservationmenu">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Reservation
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" th:href="@{/toReservationSearch}">reservation search</a></li>
                        <li><a class="dropdown-item" th:href="@{/toVacancySearch}">vacancy search</a></li>
                        <li><a class="dropdown-item" th:href="@{/toReservationRegister}">reservation register</a></li>
                        <li><a class="dropdown-item" th:href="@{/toReservationUpdate}">reservation update</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- user menu -->
    <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#usermenu" aria-controls="usermenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="usermenu">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        User
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" th:href="@{/toUserSearch}">user search</a></li>
                        <li><a class="dropdown-item" th:href="@{/toUserRegister}">user register</a></li>
                        <li><a class="dropdown-item" th:href="@{/toUserUpdate}">user update</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- room menu -->
    <div class="me-auto">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#roommenu" aria-controls="roommenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="roommenu">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Room
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" th:href="@{/toRoomSearch}">room search</a></li>
                        <li><a class="dropdown-item" th:href="@{/toRoomRegister}">room register</a></li>
                        <li><a class="dropdown-item" th:href="@{/toRoomUpdate}">room update</a></li>
                        <li><a class="dropdown-item" th:href="@{/toRoomTypeSearch}">roomtype search</a></li>
                        <li><a class="dropdown-item" th:href="@{/toRoomTypeRegister}">roomtype register</a></li>
                        <li><a class="dropdown-item" th:href="@{/toRoomTypeUpdate}">roomtype update</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- welcome message -->
    <div class="me-3">
        <span class="navbar-text mb-0" th:text="'Welcome, ' + ${username} + '!'"></span>
    </div>

    <!-- logout -->
    <ul class="navbar-nav">
        <form th:action="@{/logout}" name="logout" method="post">
            <button class="btn btn-outline-secondary" type="submit">logout</button>
        </form>
    </ul>

</nav>

<!-- content -->
<div class="border bg-light rounded mx-auto my-5 py-4 px-5"
     style =   "width:400px;">
    <h3>roomtype register</h3>
    <form method="post" th:action="@{/roomTypeRegister}">
        <div class="form-group">
            <label>roomtype name</label>
            <input type="text" name="roomTypename" class="form-control mb-1" required>
        </div>
        <div class="mt-3">
            <button type="submit" class="col-5 btn btn-outline-primary btn-block offset-7">register</button>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>